<h1>Companies</h1>

<% companies = Company.all %>
<%# Rails.logger.info companies %>
<!-- HTML comment -->

<ul>
  <% for company in companies %>
    <li>
      <%= company["name"] %>
    </li>
  <% end %>
</ul>